/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #000989b1;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    float: left;
    margin-left: 20px;
    font-family: "Merriweather";
}

header nav {
    float: right;
    margin-right: 20px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

/* Main */
main {
    padding: 20px 0;
    background-color: azure;
}

main h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
    font-family: "Merriweather";
}

.main-news img {
    border-radius: 10px;
    padding: 2%;
    width: 100%;
    margin-bottom: 20px;
}

.main-news p {
    font-size: 1.24em;
    line-height: 1.5;
    font-family: "Merriweather";
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.news-grid article {
    flex: 1;
    max-width: 1rem;
    min-width: 280px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-grid .imgs {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.news-grid h3 {
    font-size: 1.24em;
    margin-bottom: 10px;
}

.news-grid p {
    font-size: 1.24em;
    line-height: 1.4;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
